{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Search') }}</button>
    {{ form_end(form) }}


    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <div>
            <a href="showProgram/{{ program.title }}"><h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2></a>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}