{% extends 'base.html.twig' %}

{% block title %}Wizard index{% endblock %}

{% block body %}
    <h1>Wizard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surname</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wizard in wizards %}
            <tr>
                <td>{{ wizard.id }}</td>
                <td>{{ wizard.surname }}</td>
                <td>{{ wizard.name }}</td>
                <td>
                    <a href="{{ path('wizard_show', {'id': wizard.id}) }}">show</a>
                    <a href="{{ path('wizard_edit', {'id': wizard.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('wizard_new') }}">Create new</a>
{% endblock %}
